.app-download {
    margin: auto auto;
    width: 100%;
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 100px;
}

.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}

.app-download-platforms img{
    width: max(30vw,120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
}   
.app-download-platforms img:hover{
    transform: scale(1.05);
}

@media (max-width:750px){
    .app-download{
        font-size: 40px;
        margin-top: 50px;
    }
}